<div class="row employee-panel">
    <div class="col-12">
        <form>
            <div class="form-group">
                <label for="employeeId">Employee ID</label>
                <input type="text" class="form-control" id="employeeId">
            </div>
            <div class="form-group">
                <label for="employeeName">Name</label>
                <input type="text" class="form-control" id="employeeName">
            </div>
            <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <input type="email" class="form-control" id="emailAddress">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber">
            </div>
            <div class="form-group">
                <label for="designation">Designation</label>
                <input type="text" class="form-control" id="designation">
            </div>
        </form>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col button-bar">
                <button type="button" class="btn btn-sm btn-light">Reset</button>
                <button type="button" class="btn btn-sm btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>