<div class="container employees-panel">
    <div class="row">
        <div class="col-md-9 col-sm-6 employees-left-panel">
            <app-employee-list
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                [employeeList]="employeeList"
                (pageChange)="loadEmployeePage($event)"
                (add)="initiateAddEmployee()"
                (delete)="deleteEmployee($event)"
                (select)="loadEmployeeDetails($event)">
            </app-employee-list>
        </div>
        <div class="col-md-3 col-sm-6 employees-right-panel">
            <app-employee
                [employee]="currentEmployee"
                [isNew]="isNewEmployee"
                (save)="saveEmployee($event)"
                (reset)="reset()">
            </app-employee>
        </div>
    </div>
</div>
