<div class="row employee-list-panel">
  <div class="col-12 employee-data-panel">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Designation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeList" (click)="selectEmployee(employee)" [ngClass]="{'highlight': employee.id == selectedEmployee?.id}">
          <td scope="row">{{employee.employeeId}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.emailAddress}}</td>
          <td>{{employee.phoneNumber}}</td>
          <td>{{employee.designation}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 employee-control-panel">
    <div class="row">
      <div class="col-sm-6 col-md-3 pagination-bar">
        <nav aria-label="Page navigation example" *ngIf="totalPages > 1">
            <ul class="pagination pagination-sm">
              <li class="page-item" (click)="gotoPage(currentPage - 1)" [ngClass]="{'disabled': currentPage == 0}"><a class="page-link">Previous</a></li>
              <li class="page-item" (click)="gotoPage(page)" *ngFor="let page of getPageRange()" [ngClass]="{'active': currentPage == page}"><a class="page-link">{{page + 1}}</a></li>
              <li class="page-item" (click)="gotoPage(currentPage + 1)" [ngClass]="{'disabled': currentPage == (totalPages - 1)}"><a class="page-link">Next</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-6 col-md-9 button-bar">
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteEmployee()">Delete</button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="addEmployee()">Add</button>
        </div>
    </div>
  </div>
</div>